<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<!------------------------- Header ---------------------------------->

	<header th:replace="layout/layout :: header"> </header>


	<!------------------------ CATEGORIAS ------------------------------------>

	<div class="super_container"
		style='float: center; margin: 10px; padding: 80px; text-align: left; padding-top: 300px'>




		<div align="center">
			<h1 th:text="${titulo}"></h1>
		
<form th:action="@{/categoria/crear}">
			
				<table>


					<tr>
						<td>(*) Nombre Categoria :</td>
						<td><input type="text" name="nombre"
							class="form-control"  /></td>
						
					</tr>
					<tr>
						<td>Descripcion :</td>
						<td><textarea name="descripcion" 
								class="form-control" id="descripcion"
								placeholder="Escribe una breve descripcion!"></textarea></td>

					</tr>
					<tr>
						<td>Categoria Padre :</td>
						<td><select name="id" >
								<!-- Opciones de la lista -->
								<option value=0 selected>Sin Categoria</option>
								<option th:each="lasCategorias:${todasCategorias}"
									th:value="${lasCategorias.idCategoria}"  th:text="${lasCategorias.nombre}"></option>

						</select></td>


					</tr>

					<tr>
					</tr>


					<tr>
						<td></td>
						<td align="center">
						
						<input class="btn btn-primary btn-xs"
							value="Crear Categoria" type="submit"/> </td>
					</tr>

					<tr>
						<td color="red"><small>Los campos (*) son
								obligatorios</small></td>
					</tr>

				</table>

				</form>



		</div>

	</div>
	<!------------------------ FOOTER ------------------------------------>

	<footer th:replace="layout/layout :: footer"> </footer>


</body>
</html>