<!DOCTYPE html>
<html xmlns: th = "http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<!------------------------- Header ---------------------------------->

	<header th:replace= "layout/layout :: header" >
	
	</header>

	
<!------------------------ Promo ------------------------------------>

<div class="super_container"  style='float: center;margin:10px; padding: 80px; text-align: left;'>	

	<div class="promo">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle" th:text="${loMejor}"></div>
						<div class="section_title" th:text="${ultimo}"></div>
					</div>
				</div>
			</div>
			<div class="row promo_container">

				<!-- Promo Item -->
				<div class="col-lg-4 promo_col">
					<div class="promo_item" style="width: 300px;height: 300px">
						<div class="promo_image">
							<img th:src="@{/images/diademaaaagamer.jpg}" alt="" style="width: 250px;height: 250px">
							<div class="promo_content promo_content_2">
								<div class="promo_title" th:text="${descuentouno}"></div>
								<div class="promo_subtitle" th:text="${textouno}"></div>
							</div>
						</div>
						<div class="promo_link"><a href="@{/catalogo}" th:text="${comprar}"></a></div>
					</div>
				</div>

				<!-- Promo Item -->
				<div class="col-lg-4 promo_col">
					<div class="promo_item" style="width: 300px;height: 300px">
						<div class="promo_image">
							<img th:src="@{/images/mini-teclado6.jpg}" alt="" style="width: 250px;height: 250px">
							<div class="promo_content promo_content_2">
								<div class="promo_title" th:text="${descuentodos}"></div>
								<div class="promo_subtitle" th:text="${textodos}"></div>
							</div>
						</div>
						<div class="promo_link"><a href="@{/catalogo}" th:text="${comprar}"></a></div>
					</div>
				</div>

				<!-- Promo Item -->
				<div class="col-lg-4 promo_col">
					<div class="promo_item" style="width: 300px;height: 300px">
						<div class="promo_image">
							<img th:src="@{/images/mouseGamer.jpg}" alt="" style="width: 250px;height: 250px">
							<div class="promo_content promo_content_2" >
								<div class="promo_title" th:text="${descuentotres}"></div>
								<div class="promo_subtitle" th:text="${textotres}"></div>
							</div>
						</div>
						<div class="promo_link"><a href="@{/catalogo}" th:text="${comprar}"></a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>



<!------------------------ FOOTER ------------------------------------>

	<footer th:replace="layout/layout :: footer">
		
	</footer>


</body>
</html>