<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<!------------------------- Header ---------------------------------->

	<header th:replace="layout/layout :: header"> </header>


	<!---------------------DETALLE DEL PRODUCTO ------------------------------------->
	<div class="container" style="padding-top: 200px">

		<div class="row">

			<div class="col-lg-3">
				<h1 class="my-4">Detalles del Producto</h1>
				<div class="list-group">
					<a
						th:href="@{${'/producto/detalleproducto/' + producto.idProducto + '/' + producto.foto} }"
						class="list-group-item"
						th:class="${numfoto==1? 'list-group-item active': 'list-group-item disabled'}">Foto
						1</a> <a
						th:href="@{${'/producto/detalleproducto/' + producto.idProducto + '/' + producto.foto2} }"
						class="list-group-item"
						th:class="${numfoto==2? 'list-group-item active': 'list-group-item disabled'}">Foto
						2</a> <a
						th:href="@{${'/producto/detalleproducto/' + producto.idProducto + '/' + producto.foto3} }"
						class="list-group-item"
						th:class="${numfoto==3? 'list-group-item active': 'list-group-item disabled'}">Foto
						3</a>
				</div>
			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9" th:object="${pedido}">

				<div class="card mt-4">
					<img class="card-img-top img-fluid"
						src="@{'/uploads/'+${producto.foto}}"
						th:src="${numfoto==1}? @{'/uploads/'+${producto.foto}}:(${numfoto==2}? @{'/uploads/'+${producto.foto2}}:(${numfoto==3}? @{'/uploads/'+${producto.foto3}}:@{'/uploads/'+${producto.foto}}))"
						th:alt="${producto.foto}">
					<div class="card-body">
						<h3 class="card-title" th:text="${producto.nombre}"></h3>
						<h4 style="color: orange;" th:text="${producto.precioPesos}"></h4>
						<h3 th:text="${'Caracteristicas'}"></h3>
						<p class="card-text" th:text="${producto.descripcion}"></p>

					</div>

				</div>



				<a th:href="@{/producto/store}" class="btn btn-success"
					th:text="${'<<< Regresar'}"></a> 
					
				<a 	th:href="@{'/itempedido/item/1/'+ ${producto.idProducto}}"
					class="btn btn-info" th:text="${'Agregar al Carrito'}"
					style="align-self: flex-end;"></a>

			</div>


		</div>

	</div>

	<!------------------------ FOOTER ------------------------------------>

	<footer th:replace="layout/layout :: footer"> </footer>


</body>
</html>