<!DOCTYPE html>
<html xmlns: th = "http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<!------------------------- Header ---------------------------------->

	<header th:replace= "layout/layout :: header" >
	
	</header>

	
<!------------------------ PRDUCTOS ------------------------------------>

<div class="super_container"
		style='float: center; margin: 10px; padding: 80px; text-align: left; padding-top: 300px'>




	<div align="center">
			<h1 th:text="${titulo}"></h1>
			<div th:object="${producto}" th:remove="tag">
				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>
			
			<form style="position: center" th:action="@{/producto/form}"
				th:object="${producto}" method="post" enctype="multipart/form-data">
			<table>
			<tr>
					<td>Categoria :</td>
					<td><select name="combo">
							<!-- Opciones de la lista -->
							<option value=null selected>Sin Categoria</option>
							<option th:each="lasCategorias:${todasCategorias}"
									value="${lasCategorias.idCategoria}" th:text="${lasCategorias.nombre}"></option>
							
					</select></td>


				</tr>

				<tr>
					<td>Nombre :</td>
					<td><input type="text" th:field="*{nombre}"
						class="form-control" th:errorClass="'form-control alert-danger'" /></td>
					<td><small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small></td>
				</tr>
				<tr>
					<td>Descripción :</td>
					<td><textarea name="descripcion" th:field="*{descripcion}"
							class="form-control"
							placeholder="Escribe una descripcion del producto!"></textarea></td>

				</tr>
				<tr>
					<td>Precio Pesos:</td>
					<td><input type="text" th:field="*{precioPesos}" name="precio" 
						class="form-control" th:errorClass="'form-control alert-danger'" /></td>
					<td><small class="form-text text-danger"
						th:if="${#fields.hasErrors('precioPesos')}"
						th:errors="*{precioPesos}"></small></td>
				</tr>
				
				<tr>
					<div class="form-group row">
					<td><label for="file" class="col-sm-2 col-form-label">Imagenes:</label></td>
					<div class="col-sm-6">
					<td><input type ="file" name="file"  class="form-control"/></td>
					</div>
					</div>
				</tr>
				

				<tr>

					<td align = "center"><input type="submit" value="Crear Prducto" /></td>
				</tr>
				
				
				
			</table>
			<input type="hidden" th:field="*{idProducto}" />
		</form>
		
	</div>
</div>

<!------------------------ FOOTER ------------------------------------>

	<footer th:replace="layout/layout :: footer">
		
	</footer>


</body>
</html>