<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<!------------------------- Header ---------------------------------->

	<header th:replace="layout/layout :: header"> </header>


	<!------------------------ CATALOGO ------------------------------------>

	<div class="super_container"
		style='float: center; margin: 10px; padding-top: 180px; text-align: left;'>


		<!-- Products -->

		<div class="products">
			<div class="container">
				<div class="row">
				
				<!--------- -------PRODUCTOS ---------------------- -->
					<div class="col-6 col-md-4" th:each="item:${producto}" >
						
						<div class="product" >
							<div class="product_image">
								<img class="img-thumbnail rounded float-left"
										 th:src="@{'/uploads/'+${item.foto}}"
										th:alt="${item.foto}"
										style="width: 100%; height: 300px"/>
							</div>
							
							<div class="product_content clearfix">
								<div class="product_info">
									<div class="product_name">
										<a th:href="@{/producto/form}" th:text="${item.nombre}"></a>
									</div>
									<div class="product_price" th:text="${item.precioPesos}"></div>
								</div>
								<div class="product_options">
									<div class="product_buy product_option">
										<img src="/images/shopping-bag-white.svg" alt="">
									</div>
									<div class="product_fav product_option">+</div>
								</div>
							</div>
						</div>

					</div>
					
					
	
					

				</div>
				
				</div>
				
				
				
				<nav  th:replace="layout/paginator-nav :: paginator"></nav>
				
				
			</div>
			
				
					
	</div>
	<!------------------------ FOOTER ------------------------------------>

	<footer th:replace="layout/layout :: footer"> </footer>


</body>
</html>